/index.js text eol=lf
/style.css text eol=lf
/manifest.json text eol=lf
/README.md text eol=lf
/LICENSE text eol=lf
/THIRD-PARTY-NOTICES.md text eol=lf
/css/** text eol=lf
/tools/** text eol=lf
/src/** text eol=lf
/src/weather-art/*.webp binary
/docs/downloads/*.zip binary

/src/preview-art/*.webp binary
